/*Ändra bakgrundsfärgen på body*/
body{
    background-color: #6e6e6dff;
    color: #fad0c9ff;
}
/*Fixa bakgrundsfärg och själva "rutan" för våran formulär*/
.container-form{
    background-color: #fad0c9ff;
    margin: 0 auto;
    max-width: 600px;
    border-radius: 10px;
    padding: 10px;
    color: #6e6e6dff;
}

.book-title,
.year-released,
.author {
    margin-bottom: 10px; 
}


.container-list{

    max-width: 70vw; 
}

